@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img {
    margin-left: 100px;
    border-radius: 20px;
}

section {
    padding-left: 550px;
    margin-top: -300px;
}

h2 {
    margin-top: 80px;
    margin-left: 100px
}

.musicas {
    
    display: flex;
    padding-right: 100px;
}

.maquina p{
    margin-left: 185px;
    margin-top: -40px;
}

.maquina img{
    margin-top: 20px;
}

.vampiro img{
    margin-top: 20px;
}

.vampiro p{
    margin-left: 185px;
    margin-top: -50px;
}

.autotune img{
    margin-top: 20px;
}

.autotune p{
    margin-left: 185px;
    margin-top: -50px;
}

.spotfy img{
    padding-left: 800px;
    margin-top: 100px;
}

.spotfy p{
    padding-left: 917px;
    margin-top: -10px;
}

footer {
    background-color: black;
    color: white;
    padding: 50px;
}

footer p{
    color: red;
}